# ZCLIP.js

A javascript implementation of [ZCL over IP](https://www.silabs.com/documents/public/user-guides/ug278-zcl-over-ip.pdf).

  * <a href="#install">Installation</a>
  * <a href="#examples">Examples</a>
  * <a href="#api">API</a>
  * <a href="#clusters">Supported Clusters</a>
  * <a href="#tests">Run the tests</a>
  * <a href="#support">Support</a>

<a name="install"></a>
## Installation

```sh
npm install zclip
```

<a name="examples"></a>
## Examples

Examples are located in `/examples`

```sh
var coap = require('coap');
var zcl = require('../.')(coap);

var deviceIp = '::1';
var clusterEndpoint = 1;

var onOff = zcl.clusters.OnOff({
  ip: deviceIp,
  endpoint: clusterEndpoint
});

onOff.on({}, (err, response) => {
  if (err) {
    console.error(err);
  }

  console.log(response.code);
});
```

<a name="api"></a>
## API
{{#each clusters}}
  * <a href="#api-clusters-{{name}}">zclip.clusters.{{name}}</a>
{{/each }}
* <a href="#api-discover">zclip.discover</a>
* <a href="#api-rd">zclip.RD</a>

{{#each clusters}}

---

<a name="api-clusters-{{name}}"></a>

### zclip.clusters.{{name}}

```javascript
var {{camelCase name}}Cluster = zcl.clusters.{{name}}({
  ip: <deviceIp>,
  endpoint: <clusterEndpoint>
});
```
#### {{camelCase name}}.bind

```javascript
{{camelCase name}}Cluster.bind(args, callback);
```
* args
  * uid
  * ip
  * port
  * endpoint
* callback
  * err
  * response
  * responseCode

#### {{camelCase name}}.read

```javascript
{{camelCase name}}Cluster.read(args, callback);
```
* args - None
* callback
  * err
  * response
    {{#each attributes}}
      * {{name}} \<{{datatype}}> \({{side}})
    {{/each}}
  * responseCode

{{#each commands}}

#### {{camelCase ../name}}.{{name}}

```javascript
{{camelCase ../name}}.{{name}}(args, callback);
```
* args {{#unless args.length}} - None {{/unless}}
{{#each args}}
  * {{name}} \<{{datatype}}>
{{/each}}
* callback
  * err
  * response
  * responseCode

{{/each}}

{{/each }}

<a name="api-discover"></a>

### zclip.discover

```javascript
zclip.discover(args, callback);
```

* args
  * uid
  * clusterId
  * clusterSide
* callback
  * err
  * response - Array
     * uid
     * ip
     * name
     * cluster
     * clusterSide
     * page
     * count
  * responseCode

<a name="api-rd"></a>

### zclip.RD

```javascript
var rd = zcl.RD({
  ip: rdIp,
  port: rdPort
});
```

#### rd.lookup

```javascript
rd.lookup(args, callback);
```
* args
  * uid
  * clusterId
  * clusterSide
* callback
  * err
  * response - Array
     * uid
     * ip
     * name
     * cluster
     * clusterSide
     * page
     * count
  * responseCode

<a name="clusters"></a>
## Supported clusters

{{#each clusters}}
- {{name}}
{{/each }}

<a name="tests"></a>
## Run the tests

```sh
npm test
```

<a name="support"></a>
## Support

[community.silabs.com](https://www.silabs.com/community) or [silabs.com/support](https://www.silabs.com/support)

